<div id="<%= dom_id cliente %>" class="client-card">
  <h2 class="client-card__name">
    <strong>Nome:</strong>
    <%= cliente.nome %>
  </h2>

  <h2 class="client-card__age">
    <strong>Idade:</strong>
    <%= cliente.idade %>
  </h2>

  <h2 class="client-card__cpf">
    <strong>Cpf:</strong>
    <%= cliente.cpf %>
  </h2>

  <h2 class="client-card__plan">
    <strong>Plano:</strong>
    <%= cliente.planos %>
  </h2>

</div>

