<% provide(:title, 'Aulas') %>

<div>
  <h1>CONHEÇA NOSSAS AULAS!</h1>
</div>
<hr>

<div class="btns">
  <%= image_tag("aulas/musculacao", class: "photo", width: "250", height: "300") %>

  <%= image_tag("aulas/body_combat", class: "photo", width: "250", height: "300") %>

  <%= image_tag("aulas/fit", class: "photo", width: "250", height: "300") %>

  <%= link_to "#", id: "prev-link" do %>Previous Page<% end %>
  <%= link_to "#", id: "next-link" do %>Next Page<% end %>
</div>

<div id="photo-container"></div>


