 <!DOCTYPE html>

<html>
  <head>
    <title><%= yield(:title) %> | Academia F&G</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/3df637a2f2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    <title>Page Academia </title>
</head>
<body>
    <header>
        <div class="menu-content">
            <h1 class="logo">Academia F&G </h1>
            <nav class="header-menu">
                <ul class="list-itens">
                    <li><%= link_to "Home", root_path %></li>
                    <li><%= link_to "Planos", planos_path %></li>
                    <li><%= link_to "Aulas", aulas_path %></li>
                    <li><%= link_to "Cadastre-se", "/clientes/new"%></li>
                    <li><%= link_to "Admin", "/admin" %></li>
                </ul>
            </nav>
        </div>
    </header>
    <% if request.path == root_path %>
    <main>
        <div class="main-content">
            <h1 class="primary-text">Treinar não fica mais fácil, você que fica melhor!</h1>
            <h2 class="second-text">SE INSCREVA AGORA E MUDE DE VIDA</h2>
            <div class="btns">
                <button class="btn-exp">Agendar aula experimental</button>
                <button class="btn-personal">contactar personal Trainer</button>
                <button class="btn-aulas">Aulas e Treinos exclusivos</button>
            </div>
        </div>
    </main>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    
</body>
</html>

